.mallevents_filter {
  display: flex;
  background: black;
  color: white;
  padding: 0.5rem;
  width: 200px;
  justify-content: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid;
}

.mallevents_filter_main {
  display: flex;
  padding-top: 3rem;
  gap: 1px;
}

@media screen and (max-width: 435px) {
  .h5size_event {
    font-size: 16px;
  }
}
