.customer_sidebar_wrapp {
  /* width: 25%; */
  /* min-height: 300px; */
  flex-grow: 1;
  flex-basis: 300px;
  align-self: start;
  /* position: sticky; */
  top: 5rem;
  /* background: rgb(255, 177, 3); */
  background: "#aaa";
  /* min-width: 400px; */
  border: 1px solid #aaa;

}

.customer_sidebar_sing_btn {
  border-bottom: 1px solid;
  padding-left: 5%;
}

.customer-sidebar-profile-part {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 10px;
  /* padding: 1rem 0px; */
}

.customer-sidebar-profile-img {
  width: 80px;
  height: 80px;
  background-color: aliceblue;
  border-radius: 75px;
  overflow: hidden;
  position: absolute;
  left: 7%;
  top: 27%;
}

.customer-sidebar-profile-img_inner {
  width: 100%;
  height: 100%;
  /* position: absolute; */
}

.customer-sidebar-profile-img-none {
  display: none;
}



.customer-sidebar-location-flex {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  /* margin-left: 125px; */
  align-self: flex-end;
  margin-right: 165px;
}

.customer-sidebar-name {
  color: var(--color-white);
  font-weight: 800;
  font-size: 20px;
  text-transform: capitalize;
  /* margin-left: 125px; */
  margin-right: 50px;
  align-self: flex-end;
}

.customer-sidebar-location {
  color: var(--color-white);
  font-size: 16px;
  margin-bottom: 8px;

}

.cus-profile-mall-banner {
  width: 100%;
  height: 175px;
  position: relative;
  object-fit: cover;
}

.cus-profile-mall-banner-main {
  position: relative;
  align-self: flex-end;
  width: 100%;
}

/* sidebar hide */

/* .sidebat-hide {
  position: absolute;
  left: 25px;
} */

.cust-main-sec-wrapp {
  width: 82.5%;
  min-height: 80vh;
  transition: 1s ease,
}

.cust-main-sec-wrapp2 {
  width: 100% !important;
  /* transition: 1s ease-in; */
}

.cust-stored_card_wrapp{
  height: 210px;
}

.cus_slider_gray_color_main{
  width: 17.5%;
  transition: 1s ease,
}

.cus_slider_gray_color_main2{
  width: 0%;
  transition: 1s ease,
}


.notification_checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 0.5rem;
  padding-bottom: 1rem;
}
/* new added csss for account tab sidebar */

@media screen and (max-width:1560px) {
  .cus_slider_gray_color_main{
    width: 19.5% !important;
    transition: 1s ease,

  }

  .cust-main-sec-wrapp {
    width: 80.5%;

  }
}


@media screen and (max-width:1400px) {
  .cus_slider_gray_color_main{
    width: 21.5% !important;
    /* display: none; */
  }

  .cust-main-sec-wrapp {
    width: 78.5%;
  }
}

.cus-acc-sidebar-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

@media screen and (max-width:1260px) {
  .cust-sidemenu-resp {
    display: none !important;
  }

  .cus_slider_gray_color_main{
    display: none;
  }

  .cust-main-sec-wrapp {
    width: 100%;
  }
}

@media screen and (max-width: 765px) {
  .customer_sidebar_wrapp {
    display: none;
  }

  .cust-main-sec-wrapp {
    width: 100% !important;
    min-height: 80vh;
  }
}

@media screen and (max-width: 530px) {
  .mall-near-me-searchbox {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .mall-near-me-searchbox {
    width: 325px;
  }
}